@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700;900&family=Space+Mono&display=swap');

:root {
	font-family: 'Space Grotesk', sans-serif;
	font-size: 16px;
	// line-height: 24px;
	font-weight: 400;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	background-color: #0d0e11;
	color: #fff;
	min-height: 100vh;
	font-family: 'Space Grotesk', sans-serif;

	p {
		margin: 0;
	}
}

.font-monospace {
	font-family: 'Space Mono', monospace;
}

#app {
	height: 100vh;
}

.leaflet-container {
	background: inherit;
}

.leaflet-image-layer {
	image-rendering: pixelated;
}

// Generic
@font: 'Space Grotesk', sans-serif;
@white: #edf2f4;
@grey: desaturate(darken(@white, 25%), 25%);
@black: #2b2d42;

@border-radius: 0.25rem;
@box-shadow: 0 0.25rem 0.5rem fadeout(@black, 50%);

// Colors
@color-province: #f6bd60;
@color-major: @white;
@color-minor: @grey;

// Leadlet defaults
@duration: 0.25s;
@timing-function: cubic-bezier(0, 0, 0.25, 1);

// Zoom
@zoom-level: var(--zoom-level);
@zoom-level-cubic: calc(@zoom-level * @zoom-level);

.label {
	@label-font-size: calc(0.5rem + 2.5rem * @zoom-level-cubic);
	@label-text-stroke: calc(0.2rem + 0.2rem * @zoom-level-cubic);

	font-family: @font;
	color: @white;

	-webkit-text-stroke: @label-text-stroke fadeout(@black, 20%);
	paint-order: stroke fill;

	transition-property: transform, font-size, opacity, text-stroke !important;

	&.place {
		@label-opacity: clamp(0, calc(@zoom-level * 5 - 1), 1);

		font-weight: 700;
		font-size: @label-font-size;
		opacity: @label-opacity;

		&.major {
			color: @color-major;
		}

		&.minor {
			color: @color-minor;
		}

		& .subtext {
			font-size: calc(@label-font-size / 2);
			margin-top: @label-font-size;
			transition-property: font-size, margin-top;
			transition: @duration @timing-function;
		}
	}

	&.province {
		@label-opacity: clamp(0, calc(@zoom-level * 5 - 2.25), 1);

		color: @color-province;

		font-weight: 900;
		font-size: calc(@label-font-size + 0.5rem);
		opacity: calc(1 - @label-opacity);
	}

	// Reset
	background-color: transparent;
	box-shadow: none;
	padding: 0;
	border: 0;
}

#map .leaflet-marker-icon span {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	white-space: nowrap;
}

.position {
	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: 1rem;
	z-index: 10001;

	color: @black;
	text-align: center;

	> div {
		@padding: 0.75rem;

		cursor: pointer;

		position: relative;
		border-radius: 0.25rem;
		padding-block: @padding;
		margin: 0 0.25rem;
		min-width: 5ch;

		background-color: @white;
		box-shadow: @box-shadow;

		&::before {
			position: absolute;
			top: @padding;
			color: lighten(@black, 40%);
		}

		&.x {
			padding-inline: @padding @padding * 2;
			text-align: right;

			&::before {
				content: 'x';
				right: 0.5rem;
			}
		}

		&.z {
			padding-inline: @padding * 2 @padding;
			text-align: left;

			&::before {
				content: 'z';
				left: 0.5rem;
			}
		}
	}
}

#contextmenu {
	position: absolute;
	z-index: 10000;

	background-color: @white;
	color: @black;
}

ul {
	list-style: none;
	padding: 0.25rem 0;
	margin: 0;

	box-shadow: @box-shadow;

	li {
		padding: 0.5rem 1rem;
		cursor: pointer;

		&:hover {
			background-color: @grey;
		}
	}
}
