@font-face {
	font-family: 'Space Grotesk';
	src: url('/assets/fonts/SpaceGrotesk400.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Space Grotesk';
	src: url('/assets/fonts/SpaceGrotesk700.ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'Space Mono';
	src: url('/assets/fonts/SpaceMono.ttf');
}

:root {
	font-family: 'Space Grotesk', sans-serif;
	font-size: 16px;
	// line-height: 24px;
	font-weight: 400;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	background-color: #0d0e11;
	color: #fff;
	min-height: 100vh;
	font-family: 'Space Grotesk', sans-serif;

	p {
		margin: 0;
	}
}

.font-monospace {
	font-family: 'Space Mono', monospace;
}

#app {
	height: 100vh;
}

.leaflet-container {
	background: inherit;
}

.leaflet-image-layer {
	image-rendering: pixelated;
}

// Generic
@font: 'Space Grotesk', sans-serif;
@white: #edf2f4;
@light-grey: desaturate(darken(@white, 10%), 25%);
@grey: desaturate(darken(@white, 25%), 25%);
@dark-grey: lighten(@black, 40%);
@black: #2b2d42;

@border-radius: 0.25rem;
@box-shadow: 0 0.25rem 0.5rem fadeout(@black, 50%);
@duration: 150ms;
@timing-function: ease-out;

// Colors
@color-province: #f6bd60;
@color-major: @white;
@color-minor: @grey;

// Leaflet defaults
@leaflet-duration: 0.25s;
@leaflet-timing-function: cubic-bezier(0, 0, 0.25, 1);

// Zoom
@zoom-level: var(--zoom-level);
@zoom-level-cubic: calc(@zoom-level * @zoom-level);

.label {
	font-family: @font;
	transition-property: transform, opacity !important;
	white-space: nowrap;

	> span {
		display: inline-block;
		position: absolute;
		top: 50%;
		left: 50%;

		// Zoom Scaling
		@scale-factor: 0.2;
		@scale-function: calc(@zoom-level-cubic * (1 - @scale-factor) + @scale-factor);

		transform: translate(-50%, -50%) scale(@scale-function);
		transition-property: transform;
		transition: @leaflet-duration @leaflet-timing-function;

		// Text Outline
		&.outline {
			-webkit-text-stroke: 0.5rem fadeout(@black, 20%);
			color: transparent;
			z-index: -1;
		}
	}

	@label-font-size: 3rem;

	&.place {
		@label-opacity: clamp(0, calc(@zoom-level * 5 - 1), 1);

		opacity: @label-opacity;
		font-weight: 700;
		font-size: @label-font-size;

		&.major {
			color: @color-major;
		}

		&.minor {
			color: @color-minor;
		}

		.subtext {
			position: absolute;
			bottom: calc(@label-font-size / -2);
			left: 50%;
			transform: translate(-50%, 0);
			font-size: calc(@label-font-size / 2);
		}
	}

	&.province {
		@label-opacity: clamp(0, calc(@zoom-level * 5 - 2.25), 1);

		opacity: calc(1 - @label-opacity);
		font-weight: 700;
		font-size: calc(@label-font-size * 1.5);
		color: @color-province;
	}
}

.zoom-control,
.position {
	position: absolute;

	display: flex;
	justify-content: center;
	align-items: center;
}

@controls-height: 3rem;

.zoom-control {
	left: 0;
	bottom: 0;
	margin-left: 1rem;
	margin-bottom: 1rem;
	z-index: 10002;

	color: @black;
	text-align: center;

	box-shadow: @box-shadow;
	border-radius: @border-radius;

	> button {
		cursor: pointer;

		background-color: @white;

		position: relative;
		padding-inline: 0.5rem;
		border: 0;
		border-right: 1px solid @light-grey;
		height: @controls-height;

		transition: @duration @timing-function;

		&:first-child {
			border-top-left-radius: @border-radius;
			border-bottom-left-radius: @border-radius;
		}

		&:last-child {
			border-top-right-radius: @border-radius;
			border-bottom-right-radius: @border-radius;
			border-right: 0;
		}

		&:hover {
			background-color: @light-grey;
		}

		&.disabled {
			background-color: @light-grey;
			color: @dark-grey;
			cursor: default;
		}
	}
}

.position {
	bottom: 0;
	width: 100%;
	margin-bottom: 1rem;
	z-index: 10001;
	color: @black;

	> div {
		cursor: pointer;

		display: flex;
		align-items: center;

		position: relative;
		border-radius: 0.25rem;
		margin: 0 0.25rem;
		min-width: 5ch;
		height: @controls-height;

		background-color: @white;
		box-shadow: @box-shadow;

		padding-inline: 1.5rem;

		&::before {
			position: absolute;
			color: @dark-grey;
		}

		&.x {
			justify-content: flex-end;
			padding-left: 0.75rem;

			&::before {
				content: 'x';
				right: 0.5rem;
			}
		}

		&.z {
			justify-content: flex-start;
			padding-right: 0.75rem;

			&::before {
				content: 'z';
				left: 0.5rem;
			}
		}
	}
}

#contextmenu {
	position: absolute;
	z-index: 10000;

	background-color: @white;
	color: @black;

	border-radius: @border-radius;
}

ul {
	list-style: none;
	padding: 0.25rem 0;
	margin: 0;

	box-shadow: @box-shadow;

	li {
		padding: 0.5rem 1rem;
		cursor: pointer;
		transition: @duration @timing-function;

		&:hover {
			background-color: @light-grey;
		}
	}
}
