@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacegrotesk/v13/V8mQoQDjQSkFtoMM3T6r8E7mF71Q-gOoraIAEj7oUUsj.ttf) format('truetype');
}
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacegrotesk/v13/V8mQoQDjQSkFtoMM3T6r8E7mF71Q-gOoraIAEj4PVksj.ttf) format('truetype');
}
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/spacemono/v12/i7dPIFZifjKcF5UAWdDRUEY.ttf) format('truetype');
}
:root {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  background-color: #0d0e11;
  color: #fff;
  min-height: 100vh;
  font-family: 'Space Grotesk', sans-serif;
}
body p {
  margin: 0;
}
.font-monospace {
  font-family: 'Space Mono', monospace;
}
#app {
  height: 100vh;
}
.leaflet-container {
  background: inherit;
}
.leaflet-image-layer {
  image-rendering: pixelated;
}
.label {
  font-family: 'Space Grotesk', sans-serif;
  color: #edf2f4;
  -webkit-text-stroke: calc(0.2rem + 0.2rem * calc(var(--zoom-level) * var(--zoom-level))) rgba(43, 45, 66, 0.8);
  paint-order: stroke fill;
  transition-property: transform, font-size, opacity, text-stroke !important;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  border: 0;
}
.label.place {
  font-weight: 700;
  font-size: calc(0.5rem + 2.5rem * calc(var(--zoom-level) * var(--zoom-level)));
  opacity: clamp(0, calc(var(--zoom-level) * 5 - 1), 1);
}
.label.place.major {
  color: #edf2f4;
}
.label.place.minor {
  color: #b1b1b1;
}
.label.place .subtext {
  font-size: calc(calc(0.5rem + 2.5rem * calc(var(--zoom-level) * var(--zoom-level))) / 2);
  margin-top: calc(0.5rem + 2.5rem * calc(var(--zoom-level) * var(--zoom-level)));
  transition-property: font-size, margin-top;
  transition: 0.25s cubic-bezier(0, 0, 0.25, 1);
}
.label.province {
  color: #f6bd60;
  font-weight: 900;
  font-size: calc(calc(0.5rem + 2.5rem * calc(var(--zoom-level) * var(--zoom-level))) + 0.5rem);
  opacity: calc(1 - clamp(0, calc(var(--zoom-level) * 5 - 2.25), 1));
}
#map .leaflet-marker-icon span {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.position {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 1rem;
  z-index: 10001;
  color: #2b2d42;
  text-align: center;
}
.position > div {
  cursor: pointer;
  position: relative;
  border-radius: 0.25rem;
  padding-block: 0.75rem;
  margin: 0 0.25rem;
  min-width: 5ch;
  background-color: #edf2f4;
  box-shadow: 0 0.25rem 0.5rem rgba(43, 45, 66, 0.5);
}
.position > div::before {
  position: absolute;
  top: 0.75rem;
  color: #888bb1;
}
.position > div.x {
  padding-inline: 0.75rem 1.5rem;
  text-align: right;
}
.position > div.x::before {
  content: 'x';
  right: 0.5rem;
}
.position > div.z {
  padding-inline: 1.5rem 0.75rem;
  text-align: left;
}
.position > div.z::before {
  content: 'z';
  left: 0.5rem;
}
#contextmenu {
  position: absolute;
  z-index: 10000;
  background-color: #edf2f4;
  color: #2b2d42;
}
ul {
  list-style: none;
  padding: 0.25rem 0;
  margin: 0;
  box-shadow: 0 0.25rem 0.5rem rgba(43, 45, 66, 0.5);
}
ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
ul li:hover {
  background-color: #b1b1b1;
}
